In [1]:
import pandas as pd
import mysql
import mysql.connector as conn
from mysql.connector import Error
import pymongo

In [2]:
df = pd.read_csv('FitBit data.csv')

In [3]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [20]:
mydb = conn.connect(host='localhost',user = 'root',password = 'Rajput@77')
if mydb.is_connected():
    cursor = mydb.cursor()
    cursor = cursor.execute("create database if not exists fit_data")
    mydb.commit()

In [21]:
cursor = mydb.cursor()
cursor.execute("create table if not exists fit_data.table1(Id int, ActivityDate varchar(17), TotalSteps int, TotalDistance float(17), TrackerDistance float(17),LoggedActivitiesDistance float(17), VeryActiveDistance float(17),ModeratelyActiveDistance float(17), LightActiveDistance float(17),SedentaryActiveDistance float(17), VeryActiveMinutes int, FairlyActiveMinutes int , LightlyActiveMinutes int , SedentaryMinutes int, Calories int)")    
mydb.commit()

In [ ]:
cursor.execute("ALTER TABLE fit_data.table1 MODIFY Id BIGINT")

In [18]:
for i,row in df.iterrows():
    sql = "insert into fit_data.table1 values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql,tuple(row))
    mydb.commit()

InternalError: Unread result found

In [14]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object